.design-header {
  background: #404854;
  padding: 0 12px;
  height: 50px;
  line-height: 50px;

  .design-header-left {
    display: flex;
    align-items: center;
    gap: 12px;

    .ant-btn {
      color: #fff;
    }

    .table-search-input {
      margin-left: 16px;
    }
  }
}
