:root {
  --ifm-color-primary: #de2910;
  --ifm-color-primary-dark: #c8250e;
  --ifm-color-primary-darker: #bc230d;
  --ifm-color-primary-darkest: #9b1c0b;
  --ifm-color-primary-light: #e43e28;
  --ifm-color-primary-lighter: #e64a36;
  --ifm-color-primary-lightest: #eb6b5b;
}
