.ant-tree-node-content-wrapper {
  display: flex !important;
  align-items: center;
}

.ant-tree-title {
  flex: 1;
  display: flex;
  align-items: center;
}

.ant-tree-node-content-wrapper:hover .tree-node-action {
  visibility: visible !important;
}