.catalog-page {
  .catalog-card {
    border-radius: 8px;
    cursor: pointer;
    min-height: 168px;
  }

  .catalog-detail__meta {
    margin-bottom: 12px;
  }

  .catalog-detail__actions {
    margin-top: 16px;
  }

  .catalog-comments {
    margin-top: 16px;

    &__list {
      margin-top: 16px;
    }
  }
}
